%h2 Publications

- @publications.each do |publication|
  .panel.panel-default
    .panel-heading
      %h2.panel-title= publication.title
    .panel-body
      %p= publication.description
      %p= publication.file_url
    .panel-footer
      = link_to "View more details", publication, class: "btn btn-default"