<h4>Begin your $9.99 a month subscription</h4>
<form action="/users/charge" method="POST" id="payment-form">
  <p class="alert alert-danger" style="display: none;" id="error">
    <span class="payment-errors"></span>
  </p>

  <div class="row">
    <div class="col-md-6">
      <label>Card Number</label>
      <input class="form-control" type="text" size="20" data-stripe="number" placeholder="4242424242424242"/>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-2">
      <label>CVC</label>
      <input type="text" data-stripe="cvc" class="form-control" placeholder="123">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-xs-2">
      <label>Expiration</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1">
      <label>MM</label>
      <input type="text" data-stripe="exp-month" class="form-control" placeholder="01">
    </div>
    <div class="col-xs-1">
      <label>YYYY</label>
      <input type="text" data-stripe="exp-year" class="form-control" placeholder="2020">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <br/><button class="btn btn-primary" type="submit">Create Subscription</button>
    </div>
  </div>

  <%= token_tag nil %>
</form>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_RrmWYjH35uiD7zDab5QpOcwQ');

  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find("#error").fadeIn();
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };

  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);
      $form.find("#error").hide();

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  });
</script>
