.container
  %h3 Account for #{current_user.email}
  %p= link_to "Edit Account", edit_user_registration_path
  %hr/
  - if @subscription.active
    %h3
      Current plan renews at:
      = Time.at(@stripe_subscription['current_period_end']).strftime("%D")

    %p= link_to "Cancel Subscription", users_cancel_subscription_path, class: "btn btn-danger"
  - else
    = render 'form'