= form_for ["admin", @publication] do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: "form-control"
  .form-group
    = f.label :description
    = f.text_area :description, class: "form-control"
  .form-group
    = f.label :file_url, "File URL"
    = f.text_field :file_url, class: "form-control"

  .form-group
    = f.submit label, class: "btn btn-primary"