%h2 Publications Admin

%p
  = link_to "New Publication", new_admin_publication_path, class: "btn btn-primary"

- @publications.each do |publication|
  .panel.panel-default
    .panel-heading
      %h2.panel-title= publication.title
    .panel-body
      %p= publication.description
      %p= publication.file_url
    .panel-footer
      = link_to "View more details", admin_publication_path(publication), class: "btn btn-default"
      = link_to "Edit", edit_admin_publication_path(publication), class: "btn btn-default"
