.panel.panel-default
  .panel-heading
    %h3.panel-title= @publication.title
  .panel-body
    %p= @publication.description
    %p= @publication.file_url
  .panel-footer
    = link_to "Back", admin_publications_path